<%- include partials/header %>


        <div class="row">
            <div>
                <section class="panel">
                    <header class="panel-heading">
                        Tạo Dịch Vụ
                    </header>
                    <div class="panel-body ">

                        <span style="font-size: 18px;color:red">* : yêu cầu</span>
                        <form action="./service-create" method="POST" enctype="multipart/form-data">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="txtName">Tên Dịch Vụ  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtName" placeholder="Tên Dịch Vụ " required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtTitle">Tiêu Đề Dịch Vụ  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtTitle" placeholder="Tiêu Đề Dịch Vụ " required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtTitleSEO">Tiêu Đề (SEO) <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtTitleSEO" placeholder="Tiêu Đề (SEO)" required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtTime">Ngày(Giờ) hoạt động  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtTime" placeholder="Ngày(Giò) hoạt động" required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtPrice">Giá <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtPrice" placeholder="Giá " required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtDuration">Thời lượng <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtDuration" placeholder="Thời lượng" required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtDescription">Mô tả  <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtDescription" placeholder="Mô tả" required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtContent">Nội dung  <span style="color:red">*</span></label>
                                    <textarea type="text" name="txtContent" class="summernote" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="txtKey">Từ khóa(SEO)  <span style="color:red">*</span></label>
                                    <div class="panel-body">
                                        <input name="txtKeyWord" id="tagsinput" class="tagsinput" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtIcon">Icon <span style="color:red">*</span></label>
                                    <input type="text" class="form-control" name="txtIcon" placeholder="Icon" required/>
                                </div>
                                <div class="form-group">
                                    <label for="txtEnable"><b>Tình Trạng Hoạt Động</b> </label>
                                    <input type="checkbox" name="txtEnable" data-toggle="switch" />
                                </div>
                            </div>

                            <div class="form-group last">
                                <label class="control-label col-md-3">Hình 1</label>
                                <div class="col-md-9">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                               <span class="btn btn-white btn-file">
                               <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                               <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                               <input id="fImage1" name="fImage1" type="file" class="default" />
                               </span>
                                        </div>
                                    </div>
                                    <span class="label label-danger">NOTE!</span>
                                    <span>
                                     Attached image thumbnail is
                                     supported in Latest Firefox, Chrome, Opera, CocCoc,
                                     Safari and Internet Explorer 10 only
                                     </span>
                                </div>
                            </div>
                            <div class="form-group last">
                                <label class="control-label col-md-3">Hình 2</label>
                                <div class="col-md-9">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                               <span class="btn btn-white btn-file">
                               <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Select image</span>
                               <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                               <input id="fImage2" name="fImage2" type="file" class="default" />
                               </span>
                                        </div>
                                    </div>
                                    <span class="label label-danger">NOTE!</span>
                                    <span>
                                     Attached image thumbnail is
                                     supported in Latest Firefox, Chrome, Opera, CocCoc,
                                     Safari and Internet Explorer 10 only
                                     </span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <input type="submit" name="btnSubmit" class="btn btn-info" id="pulsate-regular" value="Tạo Dịch Vụ">
                            </div>
                        </form>
                    </div>
                </section>

            </div>

        </div>



<!--footer start-->
<%- include partials/footer %>