<!-- =======================================
        ==Start Blog section==
=======================================-->
<section class="blog_section ptb_90">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title pb_60 text-center">
                    <h3 class="color_72 fw_500 pb_10">Our Blog</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                </div>
            </div>
        </div>
        <!--/row-->

        <div class="row">
            <!--blog 1-->
            <div class="col-md-4">
                <div class="single_blog">
                    <div class="blog_img pos_relative">
                        <div class="img_area">
                            <img src="images/blog1.jpg" alt="blog img" class="img img-responsive">
                        </div>
                        <div class="brand clearfix">
                            <ul class="nav-pills">
                                <li><i class="fa fa-heart"></i><a href="#">18</a></li>
                                <li><i class="fa fa-commenting-o"></i><a href="#">10</a></li>
                                <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Makeup Tips</a></li>
                                <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
                        <a href="#" class="title fw_500 pt_20">Nivea for men?s sensitive hydro gel the perfect cure.</a>
                        <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                        <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <!--blog 2-->
            <div class="col-md-4">
                <div class="single_blog">
                    <div class="blog_img pos_relative">
                        <div class="img_area">
                            <img src="images/blog2.jpg" alt="blog img" class="img img-responsive">
                        </div>
                        <div class="brand clearfix">
                            <ul class="nav-pills">
                                <li><i class="fa fa-heart"></i><a href="#">18</a></li>
                                <li><i class="fa fa-commenting-o"></i><a href="#">10</a></li>
                                <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Body Message</a></li>
                                <li class="pull-right gallery"><a href="#"><i class="fa fa-play-circle"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
                        <a href="#" class="title fw_500 pt_20">Nivea for men?s sensitive hydro gel the perfect cure.</a>
                        <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                        <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

            <!--blog 3-->
            <div class="col-md-4">
                <div class="single_blog">
                    <div class="blog_img pos_relative">
                        <div class="img_area">
                            <img src="images/blog3.jpg" alt="blog img" class="img img-responsive">
                        </div>
                        <div class="brand clearfix">
                            <ul class="nav-pills">
                                <li><i class="fa fa-heart"></i><a href="#">18</a></li>
                                <li><i class="fa fa-commenting-o"></i><a href="#">10</a></li>
                                <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Spa Tips</a></li>
                                <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
                        <a href="#" class="title fw_500 pt_20">Nivea for men?s sensitive hydro gel the perfect cure.</a>
                        <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                        <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
</section>
<!-- =======================================
        ==End blog section==
=======================================-->