<section class="google_map_section">
    <h3 class="color_72 fw_500 pb_30 text-center">Nearby Our Point</h3>
    <div id="map" class="mapHome1"></div>
    <div id="map2" class="mapHome2"></div>
</section>

<!-- =======================================
        ==Start call to action section==
=======================================-->
<section class="cta_section">
    <div class="cta_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="cta_content">
                    <p>Book a session and get up to <span class="color_d5">25%</span> discount!</p>
                    <a href="#">Book A Session Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================================
        ==End call to action section==
=======================================-->

<!-- =======================================
        ==Start footer widget section==
=======================================-->
<section class="footer_widget_section ptb_90">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single_widget contact_widget">
                    <img alt="logo" src="/images/widget-logo.png">
                    <p>The beauty lab is a luxury beauty &amp; spa solution. The beauty spa strives to deliver top class.</p>
                    <address>
                        <p class="address"><i class="fa fa-home"></i><span>Address:</span> 121 King St, Melbourne Vic 3000, Australia.</p>
                        <p class="phone"><i class="fa fa-phone"></i><span>Phone:</span> +66 1800-111-333</p>
                        <p class="email"><i class="fa fa-envelope"></i><span>Email:</span> <a href="#">info@beautylab.com</a></p>
                        <p class="web"><i class="fa fa-globe"></i><span>web:</span> <a href="#">www.Beautylab.com</a></p>
                    </address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single_widget recent_post_widget">
                    <h5>Recent Posts</h5>
                    <ul>
                        <li>
                            <p>The power of golden ratio typography cannot be understated. By choosing the..</p>
                            <span>June 23, 2016</span>
                            <a href="#">read more</a>
                        </li>
                        <li>
                            <p>The power of golden ratio typography cannot be understated. By choosing the..</p>
                            <span>June 23, 2016</span>
                            <a href="#">read more</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="single_widget newsletter_widget">
                    <h5>Newsletter</h5>
                    <form action="#" method="post" class="clearfix">
                        <input type="text" placeholder="Name" id="name" class="form-control">
                        <input type="email" placeholder="Email" id="email" class="form-control">
                        <button type="submit">Send</button>
                    </form>
                </div>
            </div>
            <!--/col-->
        </div>
    </div>
</section>
<!-- =======================================
        ==End footer widget section==
=======================================-->

<!-- =======================================
        ==Start footer section==
=======================================-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2017 All rights reserved. Developed <i class="fa fa-heart"></i> by <a target="_blank" href="https://themeforest.net/user/theme_builder">Theme Builder</a></p>
            </div>
        </div>
    </div>
</footer>
<!-- =======================================
        ==End footer section==
=======================================-->

<!-- =======================================
        ==Start scroll top==
=======================================-->
<div class="scroll_top not_visible"><i class="fa fa-angle-up"></i></div>
<!-- =======================================
        ==End scroll top==
=======================================-->
<!-- jQuary library -->
<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/javascripts/modernizr-2.6.2.min.js"></script>

<!-- others jQuary plugins -->
<script type="text/javascript" src="/javascripts/plugins.js"></script>

<!--bootstrap min js-->
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

<!--enlux parallux js-->
<script type="text/javascript" src="/javascripts/smoothscroll.min.js"></script>

<!--Menuzord js-->
<script type="text/javascript" src="/javascripts/menuzord.js"></script>

<!--nice select js-->
<script type="text/javascript" src="/javascripts/jquery.nice-select.min.js"></script>

<!--slick slider js-->
<script type="text/javascript" src="/javascripts/slick.slider.js"></script>

<!--owl carousel js-->
<script type="text/javascript" src="/javascripts/owl.carousel.min.js"></script>

<!--date time picker js-->
<script type="text/javascript" src="/javascripts/moment.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-datetimepicker.min.js"></script>

<!--mixitup min js-->
<script type="text/javascript" src="/javascripts/mixitup.min.js"></script>

<!--masonary js-->
<script type="text/javascript" src="/javascripts/masonry.pkgd.min.js"></script>

<!--venobox js-->
<script type="text/javascript" src="/javascripts/venobox.min.js"></script>

<!--price filter js-->
<script type="text/javascript" src="/javascripts/jshashtable-2.1_src.js"></script>

<!--particle js-->
<script type="text/javascript" src="/javascripts/particles.js"></script>
<script type="text/javascript" src="/javascripts/particle.control.js"></script>

<!--parallax-->
<script type="text/javascript" src="/javascripts/parallax.min.js"></script>

<!--vide js for background video-->
<script type="text/javascript" src="/javascripts/jquery.vide.js"></script>

<!--facts counter js-->
<script type="text/javascript" src="/javascripts/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/javascripts/waypoints.min.js"></script>

<!--google map js-->
<script type="text/javascript" src="/javascripts/map.control.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMz2bvcqnldyxU6WUh2wuAEjJj11mSlg8&amp;callback=myMap"></script>

<!-- all jQuary activation code here and always it will be bottom of all script tag -->
<script type="text/javascript" src="/javascripts/activation-jQuary.js"></script>
</body>


<!-- Mirrored from belal.uicdux.com/themeforest/beautylab/HTML/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Aug 2017 07:48:48 GMT -->
</html>
