<!DOCTYPE html>
<html lang="en-US" class="no-js">


<!-- Mirrored from belal.uicdux.com/themeforest/beautylab/HTML/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 26 Aug 2017 07:46:52 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="responsive, template, portfolio, html, css, javascript, belal, ab belal" />
    <meta name="author" content="AB Belal">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <title>Beauty Lab | Home_1</title>

    <!--favicon icon-->
    <link rel="icon" href="/images/fabicon.png">

    <!--google font-->
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700,900" rel="stylesheet">

    <!-- font awesome css -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <!-- flaticon css -->
    <link rel="stylesheet" href="/stylesheets/flaticon.css">

    <!--html boilarplate css-->
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/html-boilarplate.css">

    <!--bootstrap min css-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-datetimepicker.min.css">

    <!--Menuzord css-->
    <link rel="stylesheet" href="/stylesheets/menuzord.css">

    <!--nice select css-->
    <link rel="stylesheet" href="/stylesheets/nice-select.css">

    <!--animate css-->
    <link rel="stylesheet" href="/stylesheets/animate.min.css">

    <!--slick slider css-->
    <link rel="stylesheet" href="/stylesheets/slick.slider.css">

    <!--owl carousel css-->
    <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">

    <!--venobox css-->
    <link rel="stylesheet" href="/stylesheets/venobox.css">

    <!--Padding margin css-->
    <link rel="stylesheet" href="/stylesheets/padding.margin.css">

    <!-- style css -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--responsive css-->
    <link rel="stylesheet" href="/stylesheets/responsive.css"> </head>

<body>
<!-- =========== Preloader Start ============ -->
<div id="loading">
    <div class="spinner">
        <div class="single_rect rect1"></div>
        <div class="single_rect rect2"></div>
        <div class="single_rect rect3"></div>
        <div class="single_rect rect4"></div>
        <div class="single_rect rect5"></div>
    </div>
</div>
<!-- =========== Preloader End ============ -->
<!-- =======================================
        ==Start Popup search section==
    =======================================-->
<div id="custom_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">?</span></button>
        <img src="/images/search_popup_logo.png" alt="search_popup_logo">
        <form action="#" class="form-inline">
            <input type="text" name="search" placeholder="Search here...">
            <button><i class="fa fa-search"></i></button>
        </form>
        <div class="quick_search">
            <h6 class="color_ff pos_relative ptb_30">Quick search</h6>
            <ul>
                <li><a href="#">parlour</a></li>
                <li><a href="#">massage</a></li>
                <li><a href="#">yoga</a></li>
                <li><a href="#">spa</a></li>
                <li><a href="#">beauty</a></li>
                <li><a href="#">exparts</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- =======================================
        ==End Popup search section==
=======================================-->

<!-- =======================================
        ==Start quick book section==
=======================================-->
<div class="quick_booking session_booking_wrapper">
    <p class="click_btn text-capitalize">Book a Reservation</p>
    <p class="title">Book A Session Now and take your place for best service</p>
    <form action="#" method="post" class="clearfix">
        <input type="text" class="form-control" id="client_name" placeholder="Your Name" required />
        <input type="text" class="form-control" id="phone_number" placeholder="Phone Number" />
        <input type="email" class="form-control" id="client_Email" placeholder="Email Address" required />

        <div class="input-group date form-control" id="datetimepicker2">
            <input type="text" readonly="readonly" class="form-control" placeholder="Date and Time" required />
            <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
        </div>

        <select class="form-control wide mr_30" name="beauty-service" required>
            <option selected>Service</option>
            <option value="facial">Facials</option>
            <option value="nailCare">Nail Care</option>
            <option value="eyeCare">Eye Care</option>
            <option value="waxing">Waxing</option>
            <option value="makeup">Make-Up</option>
        </select>

        <select class="form-control wide" name="beauty-expart" required>
            <option selected>Beauty Expart</option>
            <option value="sokhina">Hero Alom</option>
            <option value="jorina">Apo Biswas</option>
            <option value="jerin">Jerin Shikdar</option>
            <option value="jerin">Subrina Tasnim</option>
        </select>
        <button type="submit">Make a Reservation</button>
    </form>
</div>
<!-- =======================================
        ==End quick book section==
=======================================-->

<!-- =======================================
        ==Start Header section==
=======================================-->
<section class="header_top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 clearfix">
                <div class="opening_time pull-left"><i class="fa fa-clock-o color_d5"></i> <span class="color_dd">Opening Hour: Mon - Fri : 09:00 - 18:00</span> </div>
                <div class="contact_mail pull-right"> <a href="#" class="color_dd"><i class="fa fa-envelope color_d5"></i>info@beautylab.com</a> <span>/</span> <a href="#" class="color_dd"><i class="fa fa-phone color_d5"></i>1800-111-333</a> </div>
            </div>
        </div>
    </div>
</section>

<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="beauty">
                    <div id="menuzord" class="menuzord">
                        <a href="index.html" class="menuzord-brand"><img id="logo" src="/images/logo.png" alt="logo"></a>
                        <ul class="menuzord-menu menuzord-right">
                            <li class="active"><a href="/" title="Home">Home</a></li>
                            <li><a href="/services" title="Service">Service</a></li>
                            <li><a href="#" title="Shop">Shop</a>
                                <div class="megamenu">
                                    <div class="megamenu-row">
                                        <div class="col3 clearfix">
                                            <ul>
                                                <li>
                                                    <h6>Shop Full Width</h6>
                                                </li>
                                                <li><a href="shop_fullwidth.html">Shop Full Width (4 Column)</a></li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <h6>Shop With Sidebar</h6>
                                                </li>
                                                <li><a href="shop_left_sidebar.html">Shop (Left Sidebar)</a></li>
                                                <li><a href="shop_right_sidebar.html">Shop (Right Sidebar)</a></li>
                                            </ul>
                                        </div>

                                        <div class="col3 clearfix">
                                            <ul>
                                                <li>
                                                    <h6>Shop-Eyelash</h6>
                                                </li>
                                                <li><a href="#">Beetroot collection</a></li>
                                                <li><a href="#">Lobster ravioli</a></li>
                                                <li><a href="#">Pollo farcito</a></li>
                                            </ul>
                                            <ul>
                                                <li>
                                                    <h6>Shop-Nail care</h6>
                                                </li>
                                                <li><a href="#">organic egg</a></li>
                                                <li><a href="#">Beetroot collection</a></li>
                                            </ul>
                                        </div>

                                        <div class="col6">
                                            <div class="megamenu_carousel owl-carousel">
                                                <div class="single_carousel">
                                                    <img src="/images/mega_carousel1.jpg" class="img img-responsive" alt="mega_carousel">
                                                </div>
                                                <div class="single_carousel">
                                                    <img src="/images/mega_carousel2.png" class="img img-responsive" alt="mega_carousel">
                                                </div>
                                                <div class="single_carousel">
                                                    <img src="/images/mega_carousel3.png" class="img img-responsive" alt="mega_carousel">
                                                </div>
                                                <div class="single_carousel">
                                                    <img src="/images/mega_carousel4.png" class="img img-responsive" alt="mega_carousel">
                                                </div>
                                            </div>
                                        </div>
                                        <!--/col-->
                                    </div>
                                </div>
                            </li>
                            <li><a href="#" title="Blog">Blog</a>
                                <ul class="dropdown triangle">
                                    <li><a href="#">Blog pages</a>
                                        <ul class="dropdown dropdown-left">
                                            <li><a href="blog_fullwidth_1Col.html">Blog full width</a></li>
                                            <li><a href="blog_fullwidth_2Col.html">Blog full width Grid</a></li>
                                            <li><a href="blog_left_sidebar_1Col.html">Blog left sidebar (1 Column)</a></li>
                                            <li><a href="blog_left_sidebar_2Col.html">Blog left sidebar (2 Column)</a></li>
                                            <li><a href="blog_right_sidebar_1Col.html">Blog Right sidebar (1 Column)</a></li>
                                            <li><a href="blog_right_sidebar_2Col.html">Blog right sidebar (2 Column)</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog_details.html">blog details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html" title="Contact">Contact</a></li>
                            <li>
                                <button id="search_button" type="button" data-toggle="modal" data-target=".bs-example-modal-sm"><i class="fa fa-search"></i></button>
                            </li>
                        </ul>
                    </div>
                    <!--/#menuzord-->
                </div>
                <!--/startup menu-->
            </div>
            <!--/col-md-12-->
        </div>
    </div>
</header>
<!-- =======================================
        ==End Header section==
=======================================-->
