<%- include partials/header %>

    <!-- =======================================
            ==Start banner section==
        =======================================-->
    <section class="banner_section blog_banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h4 class="fw_500 color_ff">blog details</h4>
                        <p class="color_ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">blog details</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
            ==End banner section==
        =======================================-->

    <!-- =======================================
            ==Start Product gallery section==
        =======================================-->
    <section class="blog_post_section ptb_90 ptb_sm_70 ptb_xs_70 ptb_xxs_70">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog_details_wrapper">
                        <img src="images/blog_details_img.jpg" alt="blog_details_img" class="img img-responsive" />
                        <h5 class="title color_d5 mt_40">As you might have guessed, most designers choose this unit arbitrarily.</h5>
                        <ul class="tags ptb_20">
                            <li><i class="fa fa-heart color_72"></i>22</li>
                            <li><i class="fa fa-commenting-o color_72"></i>19</li>
                            <li><i class="fa fa-folder-open color_72"></i>Spa Procedures</li>
                            <li><i class="fa fa-calendar color_72"></i>30 May 2015</li>
                        </ul>
                        <p class="pera1">
                            As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.
                            <br/><br/> Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?
                            <br/><br/> As it turns out, the golden ratio provides us with a guide—a formula—for proper typesetting. Because of this, we can now set our type with absolute certainty in any situation! Better still, we can use this information about typography to make more informed decisions about all the spatial aspects of our designs, such as:
                        </p>

                        <div class="admin_details mt_30 mb_40">
                            <img src="images/admin.jpg" alt="admin">
                            <div class="admin_description color_ff">
                                <h5>Admin: <span class="fw_500">Rose Smith</span></h5>
                                <p class="color_ff">exclamatory use of "beautiful" which is almost entirely empty of meaning, People exclaim "beautiful" meaning only "great" or "wonderful" or "i like that a lot.</p>
                            </div>
                        </div>
                        <!--/admin details-->

                        <p class="pera2">
                            As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.
                            <br/><br/> Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?
                            <br/><br/> As you might have guessed, most designers choose this unit arbitrarily. The problem with this approach is that the resulting baseline grid unit is not directly related to the primary font size, which is the most fundamental design element on the page.
                        </p>

                    </div>
                    <!--/blog post wrapper-->

                    <div class="comment_section">
                        <h5 class="color_d5 pb_5 mb_5 mt_40 pos_relative fw_500">Comments</h5>

                        <ul>
                            <!-- comment-1 -->
                            <li>
                                <div class="comment">
                                    <img src="images/commenter_img1.jpg" alt="commenter">
                                    <div>
                                        <h6><a href="#">James Dean</a><span>22 Nov, 2016</span></h6>
                                        <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                        <a href="#" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </li>

                            <!-- comment-2 -->
                            <li>
                                <div class="comment">
                                    <img src="images/commenter_img3.jpg" alt="commenter">
                                    <div>
                                        <h6><a href="#">James Dean</a><span>22 Nov, 2016</span></h6>
                                        <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                        <a href="#" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                </div>

                                <!--reply section-->
                                <ul>
                                    <!-- reply comment-1 -->
                                    <li>
                                        <div class="comment">
                                            <img src="images/commenter_img2.jpg" alt="commenter">
                                            <div>
                                                <h6><a href="#">James Dean</a><span>22 Nov, 2016</span></h6>
                                                <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                                <a href="#" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                            </div>
                                        </div>

                                        <!--replay comment lable-2-->
                                        <ul>
                                            <li>
                                                <div class="comment">
                                                    <img src="images/commenter_img1.jpg" alt="commenter">
                                                    <div>
                                                        <h6><a href="#">James Dean</a><span>22 Nov, 2016</span></h6>
                                                        <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!--/replay lable-2-->
                                    </li>
                                </ul>
                                <!--/reply section-->
                            </li>

                            <!-- comment-3 -->
                            <li>
                                <div class="comment">
                                    <img src="images/commenter_img3.jpg" alt="commenter">
                                    <div>
                                        <h6><a href="#">James Dean</a><span>22 Nov, 2016</span></h6>
                                        <p>Instead of relying on arbitrary selection, wouldn’t it be nice if there were a way to determine the perfect typography settings based on a given context?</p>
                                        <a href="#" class="reply"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </li>
                            <!--/comment-->
                        </ul>
                    </div>
                    <!--/comment section-->

                    <div class="comment_form_section">
                        <h5 class="color_d5 pb_5 mt_40 mb_30 pos_relative fw_500">Leave a Comment</h5>
                        <form action="#" class="clearfix">
                            <input type="text" placeholder="Your Name">
                            <input type="email" placeholder="Your Email">
                            <textarea name="msg" rows="5" placeholder="Your Message"></textarea>
                            <button type="submit">send comment</button>
                        </form>
                    </div>
                    <!--/comment_form_section-->
                </div>
                <!-- /col-md-8-->

                <div class="col-md-4">
                    <aside class="right_sidebar clearfix">
                        <div class="blog_search single_sidebar_box mb_40">
                            <form action="#" method="post" class="clearfix">
                                <input type="text" name="search" class="pull-left" placeholder="Search here..">
                                <button type="submit" class="pull-left"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <div class="latest_blog_area single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Latest Blog</h5>
                            <!--latest post-1-->
                            <div class="single_latest_post">
                                <a href="#"><img src="images/latest_blog.jpg" alt="latest_blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>12 Nov 2016</li>
                                </ul>
                            </div>

                            <!--latest post-2-->
                            <div class="single_latest_post">
                                <a href="#"><img src="images/latest_blog2.jpg" alt="latest_blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>18 Nov 2016</li>
                                </ul>
                            </div>

                            <!--latest post-3-->
                            <div class="single_latest_post">
                                <a href="#"><img src="images/latest_blog3.jpg" alt="latest_blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>22 Nov 2016</li>
                                </ul>
                            </div>
                            <!-- /single latest blog-->
                        </div>
                        <!-- /latest blog area-->

                        <div class="post_categories single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Post Categories</h5>
                            <ul>
                                <li><a href="#">Professional Makeup</a><span>10</span></li>
                                <li><a href="#">Haircut and Styling</a><span>70</span></li>
                                <li><a href="#">Slim Body Session</a><span>05</span></li>
                                <li><a href="#">Body Massage</a><span>63</span></li>
                                <li><a href="#">Facial Massage</a><span>40</span></li>
                                <li><a href="#">Facial Massage</a><span>54</span></li>
                            </ul>
                        </div>
                        <!--/post categories-->


                        <div class="post_categories single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Archives</h5>
                            <ul>
                                <li><a href="#">January-2017</a></li>
                                <li><a href="#">February-2017</a></li>
                                <li><a href="#">March-2017</a></li>
                                <li><a href="#">April-2017</a></li>
                                <li><a href="#">May-2017</a></li>
                                <li><a href="#">June-2017</a></li>
                                <li><a href="#">July-2017</a></li>
                                <li><a href="#">August-2017</a></li>
                                <li><a href="#">September-2017</a></li>
                                <li><a href="#">October-2017</a></li>
                            </ul>
                        </div>
                        <!--/archives-->

                        <div class="instagram_gallery single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Instagram</h5>
                            <a href="images/insta_img/insta_big_img1.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img1.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img2.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img2.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img3.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img3.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img4.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img4.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img5.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img5.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img6.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img6.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img7.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img7.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img8.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img8.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img9.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img9.jpg" alt="insta_img" /></a>
                        </div>
                        <!--/instagram gallery-->
                    </aside>
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- =======================================
            ==End Product gallery section==
        =======================================-->

        <%- include partials/blog-section %>

        <%- include partials/footer %>
