<%- include partials/header %>

    <!-- =======================================
            ==Start banner section==
        =======================================-->
    <section class="banner_section blog_banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h4 class="fw_500 color_ff">our blog</h4>
                        <p class="color_ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
            ==End banner section==
        =======================================-->

    <!-- =======================================
            ==Start blog section==
        =======================================-->
    <section class="blog_post_section ptb_90 ptb_sm_70 ptb_xs_70 ptb_xxs_70">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-4">
                    <div class="blog_post_wrapper clearfix">

                        <!--blog post-1-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <img src="images/blog9.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">18</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">10</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Spa Procedures</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">30</h5>
                                    <span class="fw_500 roboto">May</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="/blog" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>

                        <!--blog post-2-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <a class="venobox" title="Click To See Video" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=zrroUQ1Bapo">
                                        <i class="fa fa-play-circle"></i>
                                    </a>
                                    <img src="images/blog4.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">22</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">19</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Skin Tips</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-play-circle"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">20</h5>
                                    <span class="fw_500 roboto">June</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>

                        <!--blog post-3-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <img src="images/blog5.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">18</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">10</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Body Massage</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">03</h5>
                                    <span class="fw_500 roboto">January</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>

                        <!--blog post-4-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <img src="images/blog6.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">15</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">17</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Haircut</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">30</h5>
                                    <span class="fw_500 roboto">April</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>

                        <!--blog post-5-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <img src="images/blog7.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">18</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">10</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Nail Tips</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">17</h5>
                                    <span class="fw_500 roboto">May</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>

                        <!--blog post-6-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <img src="images/blog8.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">15</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">17</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Facial Massage</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">25</h5>
                                    <span class="fw_500 roboto">December</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>
                        <!--blog post-7-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <img src="images/blog6.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">15</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">17</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Facial Massage</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">25</h5>
                                    <span class="fw_500 roboto">December</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>

                        <!--blog post-8-->
                        <div class="single_blog">
                            <div class="blog_img pos_relative">
                                <div class="img_area">
                                    <img src="images/blog1.jpg" alt="blog img" class="img img-responsive">
                                </div>
                                <div class="brand clearfix">
                                    <ul class="nav-pills">
                                        <li><i class="fa fa-heart"></i><a href="#">15</a></li>
                                        <li><i class="fa fa-commenting-o"></i><a href="#">17</a></li>
                                        <li class="mr_0"><i class="fa fa-folder-open"></i><a href="#">Facial Massage</a></li>
                                        <li class="pull-right gallery"><a href="#"><i class="fa fa-picture-o"></i></a></li>
                                    </ul>
                                </div>
                                <div class="date color_ff">
                                    <h5 class="fw_700">25</h5>
                                    <span class="fw_500 roboto">December</span>
                                </div>
                            </div>
                            <div class="blog_content">
                                <a href="#" class="title fw_500 pt_20">Nivea for men’s sensitive hydro gel the perfect cure.</a>
                                <p class="ptb_20">The power of golden ratio typography cannot be understated. By choosing the line-height of your primary text.</p>
                                <a href="#" class="readmore" title="Read More for Details" target="_blank">Read More</a>
                            </div>
                        </div>
                        <!--/single blog post-->
                    </div>
                    <!--/blog post wrapper-->

                    <div class="custom_pagination mt_30">
                        <nav aria-label="">
                            <ul class="pagination pt_20">
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--/pagination-->
                </div>
                <!-- /col-md-8-->

                <div class="col-md-4 col-md-pull-8">
                    <aside class="right_sidebar clearfix">
                        <div class="blog_search single_sidebar_box mb_40">
                            <form action="#" method="post" class="clearfix">
                                <input type="text" name="search" class="pull-left" placeholder="Search here..">
                                <button type="submit" class="pull-left"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <div class="latest_blog_area single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Latest Blog</h5>
                            <!--latest post-1-->
                            <div class="single_latest_post">
                                <a href="#"><img src="images/latest_blog.jpg" alt="latest_blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>12 Nov 2016</li>
                                </ul>
                            </div>

                            <!--latest post-2-->
                            <div class="single_latest_post">
                                <a href="#"><img src="images/latest_blog2.jpg" alt="latest_blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>18 Nov 2016</li>
                                </ul>
                            </div>

                            <!--latest post-3-->
                            <div class="single_latest_post">
                                <a href="#"><img src="images/latest_blog3.jpg" alt="latest_blog"></a>
                                <ul>
                                    <li>
                                        <h6><a href="#">Nivea for men’s sensitive hydro gel.</a></h6>
                                    </li>
                                    <li><a href="#">Beauty & Skin</a></li>
                                    <li>22 Nov 2016</li>
                                </ul>
                            </div>
                            <!-- /single latest blog-->
                        </div>
                        <!-- /latest blog area-->

                        <div class="post_categories single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Post Categories</h5>
                            <ul>
                                <li><a href="#">Professional Makeup</a><span>10</span></li>
                                <li><a href="#">Haircut and Styling</a><span>70</span></li>
                                <li><a href="#">Slim Body Session</a><span>05</span></li>
                                <li><a href="#">Body Massage</a><span>63</span></li>
                                <li><a href="#">Facial Massage</a><span>40</span></li>
                                <li><a href="#">Facial Massage</a><span>54</span></li>
                            </ul>
                        </div>
                        <!--/post categories-->


                        <div class="post_categories single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Archives</h5>
                            <ul>
                                <li><a href="#">January-2017</a></li>
                                <li><a href="#">February-2017</a></li>
                                <li><a href="#">March-2017</a></li>
                                <li><a href="#">April-2017</a></li>
                                <li><a href="#">May-2017</a></li>
                                <li><a href="#">June-2017</a></li>
                                <li><a href="#">July-2017</a></li>
                                <li><a href="#">August-2017</a></li>
                                <li><a href="#">September-2017</a></li>
                                <li><a href="#">October-2017</a></li>
                            </ul>
                        </div>
                        <!--/archives-->

                        <div class="instagram_gallery single_sidebar_box mb_40">
                            <h5 class="sidebar_title fw_500 pos_relative pb_40">Instagram</h5>
                            <a href="images/insta_img/insta_big_img1.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img1.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img2.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img2.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img3.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img3.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img4.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img4.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img5.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img5.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img6.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img6.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img7.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img7.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img8.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img8.jpg" alt="insta_img" /></a>
                            <a href="images/insta_img/insta_big_img9.jpg" title="Click to View" class="venobox" data-gall="insta_gallery"><img src="images/insta_img/insta_img9.jpg" alt="insta_img" /></a>
                        </div>
                        <!--/instagram gallery-->
                    </aside>
                </div>
                <!--/col-->
            </div>
        </div>
    </section>
    <!-- =======================================
            ==End blog section==
        =======================================-->

        <%- include partials/blog-section %>

        <%- include partials/footer %>
