<%- include partials/header %>

    <!-- =======================================
        ==Start banner section==
    =======================================-->
    <section class="banner_section contact_banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h4 class="fw_500 color_ff">Contact Us </h4>
                        <p class="color_ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">home</a></li>
                        <li class="active">contact</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End banner section==
    =======================================-->

    <!-- =======================================
        ==Start Contact-info section==
    =======================================-->
    <section class="contact_info_section ptb_90">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title text-center">
                        <h3 class="color_72 fw_500 pb_10">Our Location</h3>
                        <p class="pb_65">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc.</p>
                    </div>
                </div>
            </div>
            <!--/row-->

            <div class="row">
                <div class="col-md-5">
                    <div class="contact_number">
                        <h5 class="color_d5 pb_5 mb_30 pos_relative fw_500">Contact Info</h5>
                        <address>
                            <p class="address"><i class="fa fa-home"></i><span>Address:</span> 121 King St, Melbourne Vic 3000, Australia.</p>
                            <p class="phone"><i class="fa fa-phone"></i><span>Phone:</span> +66 1800-111-333</p>
                            <p class="email"><i class="fa fa-envelope"></i><span>Email:</span> <a href="#">info@beautylab.com</a></p>
                            <p class="web"><i class="fa fa-globe"></i><span>web:</span> <a href="#">www.Beautylab.com</a></p>
                        </address>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="google_map_wrapper">
                        <div id="map" class="mapContact1"></div>
                        <div id="map2" class="mapContact2"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End Contact-info section==
    =======================================-->

    <!-- =======================================
        ==Start get in touch section==
    =======================================-->
    <section class="getin_section pt_70 pb_100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div class="get_in">
                        <h5 class="color_d5 pb_5 mb_30 pos_relative fw_500">Get In Touch</h5>
                        <!-- new start -->
                        <form action="http://belal.uicdux.com/themeforest/beautylab/HTML/vendor/validation.php" method="POST" class="clearfix">
                            <div class="form_group">
                                <input type="text" name="name" value="" placeholder="Your Name"  >
                                <span class="error"></span>
                            </div>

                            <div class="form_group">
                                <input type="email" name="email" value="" placeholder="Your Email" data-validation="email">
                                <span class="error"></span>
                            </div>

                            <div class="form_group">
                                <input type="text" name="subject" value="" placeholder="Subject" data-validation="required">
                                <span class="error"></span>
                            </div>

                            <div class="textarea_group">
                                <textarea name="message" rows="4" placeholder="Your Message" data-validation="required"></textarea>
                                <span class="error"></span>
                            </div>

                            <ul class="form_submit">
                                <li>
                                    <button type="submit" class="send_msg" name="submit">send message</button>
                                </li>
                                <li>
                                    <span class="success"></span>
                                    <span class="error"></span>
                                </li>
                            </ul>
                        </form>

                        <!-- new end -->
                    </div>
                </div>



                <div class="col-md-4 col-sm-6">
                    <div class="consultant_wrapper">
                        <h5 class="color_d5 pb_5 mb_30 pos_relative fw_500">Our Experts Consultant</h5>
                        <div class="single_consultant">
                            <img src="images/consultant1.jpg" alt="consultant">
                            <div class="content">
                                <a href="#" class="fw_500 roboto color_72">Nicky Cruse</a>
                                <p>Email: nicky@beautylab.com</p>
                                <p>Skype: beautylab.support</p>
                            </div>
                        </div>

                        <div class="single_consultant">
                            <img src="images/consultant2.jpg" alt="consultant">
                            <div class="content">
                                <a href="#" class="fw_500 roboto color_72">Micky Bruse</a>
                                <p>Email: nicky@beautylab.com</p>
                                <p>Skype: beautylab.support</p>
                            </div>
                        </div>
                        <!--/single consultant-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End get in touch section==
    =======================================-->

    <%- include partials/blog-section %>

    <%- include partials/footer %>
