<%- include partials/header %>

<!-- =======================================
        ==Start Hero section version-1==
    =======================================-->
<section class="pos_relative hero_area slider_wrapper">
    <div class="Modern-Slider">
        <!-- Item 1-->
        <div class="item">
            <div class="img-fill"> <img src="images/slider_img/slider_img1.jpg" alt="slider_img1">
                <div class="info">
                    <div class="slider_overlay"></div>
                    <div class="section_tbl">
                        <div class="section_tbl_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 clearfix pl_40 pr_40">
                                        <div class="slider_content caption_left color_ff">
                                            <h4>Just The Best Place For</h4>
                                            <h3 class="color_d5 fw_700">Beauty & Relaxation</h3>
                                            <h5 class="text-left">Welcome to beauty lab, where you can relax and enjoy life. A little peace in a crazy world goes a long way.</h5>
                                            <ul class="slider_button">
                                                <li>
                                                    <a href="#" class="blue_btn fw_700">Explore now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--/col-->
                                </div>
                            </div>
                            <!--/container-->
                        </div>
                        <!--/tbl-cell -->
                    </div>
                    <!--/section_tbl-->
                </div>
                <!--/info-->
            </div>
        </div>
        <!-- // Item -->

        <!-- Item 2-->
        <div class="item">
            <div class="img-fill"> <img src="images/slider_img/slider_img2.jpg" alt="slider_img1">
                <div class="info">
                    <div class="slider_overlay"></div>
                    <div class="section_tbl">
                        <div class="section_tbl_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 clearfix pl_40 pr_40">
                                        <div class="slider_content caption_left color_ff">
                                            <h4>Just The Best Place For</h4>
                                            <h3 class="color_d5 fw_700">Body Masseging</h3>
                                            <h5 class="text-left">Welcome to beauty lab, where you can relax and enjoy life. A little peace in a crazy world goes a long way.</h5>
                                            <ul class="slider_button">
                                                <li>
                                                    <a href="#" class="blue_btn fw_700">Explore now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--/col-->
                                </div>
                            </div>
                            <!--/container-->
                        </div>
                        <!--/tbl-cell -->
                    </div>
                    <!--/section_tbl-->
                </div>
                <!--/info-->
            </div>
        </div>
        <!-- // Item -->

        <!-- Item 3-->
        <div class="item">
            <div class="img-fill"> <img src="images/slider_img/slider_img3.jpg" alt="slider_img1">
                <div class="info">
                    <div class="slider_overlay"></div>
                    <div class="section_tbl">
                        <div class="section_tbl_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 clearfix pl_40 pr_40">
                                        <div class="slider_content caption_left color_ff">
                                            <h4>Just The Best Place For</h4>
                                            <h3 class="color_d5 fw_700">Hair Treatment</h3>
                                            <h5 class="text-left">Welcome to beauty lab, where you can relax and enjoy life. A little peace in a crazy world goes a long way.</h5>
                                            <ul class="slider_button">
                                                <li>
                                                    <a href="#" class="blue_btn fw_700">Explore now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--/col-->
                                </div>
                            </div>
                            <!--/container-->
                        </div>
                        <!--/tbl-cell -->
                    </div>
                    <!--/section_tbl-->
                </div>
                <!--/info-->
            </div>
        </div>

        <!-- Item 4-->
        <div class="item">
            <div class="img-fill"> <img src="images/slider_img/slider_img4.jpg" alt="slider_img1">
                <div class="info">
                    <div class="slider_overlay"></div>
                    <div class="section_tbl">
                        <div class="section_tbl_cell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 clearfix pl_40 pr_40">
                                        <div class="slider_content caption_left color_ff">
                                            <h4>Just The Best Place For</h4>
                                            <h3 class="color_d5 fw_700">Harbal Treatment</h3>
                                            <h5 class="text-left">Welcome to beauty lab, where you can relax and enjoy life. A little peace in a crazy world goes a long way.</h5>
                                            <ul class="slider_button">
                                                <li>
                                                    <a href="#" class="blue_btn fw_700">Explore now</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--/col-->
                                </div>
                            </div>
                            <!--/container-->
                        </div>
                        <!--/tbl-cell -->
                    </div>
                    <!--/section_tbl-->
                </div>
                <!--/info-->
            </div>
        </div>
        <!-- // Item -->
    </div>
    <!--/Modern-Slider-->
</section>
<!-- =======================================
        ==End Hero section version-1==
=======================================-->

<!-- =======================================
        ==start welcome section==
=======================================-->
<section class="welcom_section pos_relative pt_90 pb_70">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title text-center">
                    <h3 class="color_72 fw_500 pb_5">Welcome To Beauty Lab</h3>
                    <p>The beauty lab is a luxury beauty & spa solution. The beauty spa strives to deliver top class treatments in a relaxing environment.</p>
                </div>
            </div>
        </div>
        <!--/row-->

        <div class="row">
            <div class="col-md-7">
                <div class="welcome_feature_wrapper clearfix">
                    <!--feature-1-->
                    <div class="single_feature pull-left ptb_35">
                        <i class="flaticon-health-care"></i>
                        <div class="feature_content pl_40 pr_40">
                            <a href="#" class="color_33 fw_500 pb_15">Expert Doctors</a>
                            <div class="divider"></div>
                            <p class="pt_15">As you might have guessed, most designers choose this unit arbitrarily. </p>
                        </div>
                    </div>

                    <!--feature-2-->
                    <div class="single_feature pull-left ptb_35">
                        <i class="flaticon-flask"></i>
                        <div class="feature_content pl_40 pr_40">
                            <a href="#" class="color_33 fw_500 pb_15">Latest Technology</a>
                            <div class="divider"></div>
                            <p class="pt_15">As you might have guessed, most designers choose this unit arbitrarily. </p>
                        </div>
                    </div>

                    <!--feature-3-->
                    <div class="single_feature pull-left ptb_35">
                        <i class="flaticon-graduate-diploma"></i>
                        <div class="feature_content pl_40 pr_40">
                            <a href="#" class="color_33 fw_500 pb_15">Certified Institute</a>
                            <div class="divider"></div>
                            <p class="pt_15">As you might have guessed, most designers choose this unit arbitrarily. </p>
                        </div>
                    </div>

                    <!--feature-4-->
                    <div class="single_feature pull-left ptb_35">
                        <i class="flaticon-school-calendar"></i>
                        <div class="feature_content pl_40 pr_40">
                            <a href="#" class="color_33 fw_500 pb_15">Online Appointment</a>
                            <div class="divider"></div>
                            <p class="pt_15">As you might have guessed, most designers choose this unit arbitrarily. </p>
                        </div>
                    </div>
                    <!--/feature-->
                </div>
                <!--/wrapper-->
            </div>
            <!--/col-->

            <div class="col-md-4">
                <div class="welcome_carousel_wrapper pos_relative">
                    <div id="carousel_img">
                        <img src="images/welcome_carousel2.jpg" class="img img-responsive" alt="welcome_carousel_img">
                        <img src="images/welcome_carousel3.jpg" class="img img-responsive" alt="welcome_carousel_img">
                        <img src="images/welcome_carousel1.jpg" class="img img-responsive" alt="welcome_carousel_img">
                    </div>

                    <div id="carousel_text">
                        <p>
                            Instead of relying on arbitrary selection, wouldn?t it be nice if there were a way to determine the perfect typography.
                            <a href="#" class="read_more color_ff fw_700">Read more</a>
                        </p>
                        <p>
                            Instead of relying on arbitrary selection, wouldn?t it be nice if there were a way to determine the perfect typography.
                            <a href="#" class="read_more color_ff fw_700">Read more</a>
                        </p>
                        <p>
                            Instead of relying on arbitrary selection, wouldn?t it be nice if there were a way to determine the perfect typography.
                            <a href="#" class="read_more color_ff fw_700">Read more</a>
                        </p>
                    </div>
                </div>
                <!--/wrapper-->
            </div>
            <!--/col-->
        </div>
    </div>
</section>
<!-- =======================================
        ==End welcome section==
=======================================-->

<!-- =======================================
        ==start Seassion booking section==
    =======================================-->
<section class="session_booking_section pt_90 pb_100 pt_sm_60 pb_sm_70">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-4 col-md-9 col-md-offset-3">
                <div class="section_title text-center">
                    <h3 class="color_72 fw_500">Book A Session Now</h3>
                    <p>Deliver Top Class Treatments In A Relaxing Environment.</p>
                </div>

                <div class="session_booking_wrapper mt_45">
                    <form action="#" method="post" class="clearfix">
                        <input type="text" class="form-control" id="client_name" placeholder="Your Name" required />
                        <input type="text" class="form-control" id="phone_number" placeholder="Phone Number" />
                        <input type="email" class="form-control" id="client_Email" placeholder="Email Address" required />

                        <div class="input-group date form-control" id="datetimepicker1">
                            <input type="text" readonly="readonly" class="form-control" placeholder="Date and Time" required />
                            <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                        </div>

                        <select class="form-control wide mr_30" name="beauty-service" required>
                            <option selected>Service</option>
                            <option value="facial">Facials</option>
                            <option value="nailCare">Nail Care</option>
                            <option value="eyeCare">Eye Care</option>
                            <option value="waxing">Waxing</option>
                            <option value="makeup">Make-Up</option>
                        </select>

                        <select class="form-control wide" name="beauty-expart" required>
                            <option selected>Beauty Expart</option>
                            <option value="sokhina">Hero Alom</option>
                            <option value="jorina">Apo Biswas</option>
                            <option value="jerin">Jerin Shikdar</option>
                            <option value="jerin">Subrina Tasnim</option>
                        </select>
                        <textarea name="msg-area" id="booking-msg" cols="30" rows="4" placeholder="Your Message (Optional)"></textarea>
                        <button type="submit">Make a Reservation</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =======================================
        ==End Seassion booking section==
=======================================-->

<!-- =======================================
        ==Start Service section==
=======================================-->
<%- include partials/our_services %>
<!-- =======================================
        ==End Service section==
=======================================-->

<!-- =======================================
        ==Start beauty lab gallery section==
=======================================-->
<section class="beautyLab_gallery_section pt_90 pb_75">
    <div class="beautyLab_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title mb_60 text-center">
                    <h3 class="color_ff fw_500 pb_10">Our Beauty Lab</h3>
                    <p class="color_ff">Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore etc</p>
                </div>
            </div>
        </div>
        <!--/row-->

        <div class="row">
            <ul class="feltering_menu pl_15">
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter=".category_1">Beauty Treatment</li>
                <li class="filter" data-filter=".category_2">Beauty Interiors</li>
            </ul>

            <div class="gallery_wrapper">

                <!--gallery-1-->
                <div class="col-md-4 col-sm-6  mix category_2">
                    <div class="single_gallery">
                        <img src="images/beauty_galleryImg1.jpg" alt="gallery image" class="img img-responsive" />
                        <div class="single_gallery_overlay text-center">
                            <h6><a href="#" class="color_ff fw_500">Beauty Treatment</a></h6>
                            <div class="divider mt_15 mb_10"></div>
                            <p class="color_ff">Most designers set their type arbitrarily, either by pulling values</p>
                        </div>
                    </div>
                </div>

                <!--gallery-2-->
                <div class="col-md-4 col-sm-6  mix category_1">
                    <div class="single_gallery">
                        <img src="images/beauty_galleryImg2.jpg" alt="gallery image" class="img img-responsive" />
                        <div class="single_gallery_overlay text-center">
                            <h6><a href="#" class="color_ff fw_500">Beauty Treatment</a></h6>
                            <div class="divider mt_15 mb_10"></div>
                            <p class="color_ff">Most designers set their type arbitrarily, either by pulling values</p>
                        </div>
                    </div>
                </div>

                <!--gallery-3-->
                <div class="col-md-4 col-sm-6  mix category_2">
                    <div class="single_gallery">
                        <img src="images/beauty_galleryImg3.jpg" alt="gallery image" class="img img-responsive" />
                        <div class="single_gallery_overlay text-center">
                            <h6><a href="#" class="color_ff fw_500">Beauty Treatment</a></h6>
                            <div class="divider mt_15 mb_10"></div>
                            <p class="color_ff">Most designers set their type arbitrarily, either by pulling values</p>
                        </div>
                    </div>
                </div>

                <!--gallery-4-->
                <div class="col-md-4 col-sm-6  mix category_1">
                    <div class="single_gallery">
                        <img src="images/beauty_galleryImg4.jpg" alt="gallery image" class="img img-responsive" />
                        <div class="single_gallery_overlay text-center">
                            <h6><a href="#" class="color_ff fw_500">Beauty Treatment</a></h6>
                            <div class="divider mt_15 mb_10"></div>
                            <p class="color_ff">Most designers set their type arbitrarily, either by pulling values</p>
                        </div>
                    </div>
                </div>

                <!--gallery-5-->
                <div class="col-md-4 col-sm-6  mix category_2">
                    <div class="single_gallery">
                        <img src="images/beauty_galleryImg5.jpg" alt="gallery image" class="img img-responsive" />
                        <div class="single_gallery_overlay text-center">
                            <h6><a href="#" class="color_ff fw_500">Beauty Treatment</a></h6>
                            <div class="divider mt_15 mb_10"></div>
                            <p class="color_ff">Most designers set their type arbitrarily, either by pulling values</p>
                        </div>
                    </div>
                </div>

                <!--gallery-6-->
                <div class="col-md-4 col-sm-6  mix category_1">
                    <div class="single_gallery">
                        <img src="images/beauty_galleryImg6.jpg" alt="gallery image" class="img img-responsive" />
                        <div class="single_gallery_overlay text-center">
                            <h6><a href="#" class="color_ff fw_500">Beauty Treatment</a></h6>
                            <div class="divider mt_15 mb_10"></div>
                            <p class="color_ff">Most designers set their type arbitrarily, either by pulling values</p>
                        </div>
                    </div>
                </div>
                <!--/col-->
            </div>
            <!--/gallery wrapper-->
        </div>
        <!--/row-->
    </div>
</section>
<!-- =======================================
        ==End beauty lab gellary section==
=======================================-->

<!-- =======================================
        ==Start Product Carousel Section==
    =======================================-->
<section class="product_carousel_section pt_90 pb_100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section_title pb_60 text-center">
                    <h3 class="color_72 fw_500 pb_10">Our Products</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                </div>
            </div>
        </div>
        <!--/row-->

        <div class="row">
            <div class="col-md-12">
                <div class="product_carousel_wrapper owl-carousel owl-theme" id="product_carousel">

                    <!--product-1-->
                    <div class="single_carousel">
                        <img src="images/product2.jpg" alt="product" class="img img-responsive">
                        <div class="product_hover text-center">
                            <h6 class="color_ff mb_10">$180.95</h6>
                            <div class="divider"></div>
                            <p class="color_ff mt_10 mb_15">Retexturing Activator</p>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>

                    <!--product-2-->
                    <div class="single_carousel">
                        <img src="images/product6.jpg" alt="product" class="img img-responsive">
                        <div class="product_hover text-center">
                            <h6 class="color_ff mb_10">$100.55</h6>
                            <div class="divider"></div>
                            <p class="color_ff mt_10 mb_15">Herbal Cleanser 4 oz.</p>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>

                    <!--product-3-->
                    <div class="single_carousel">
                        <img src="images/product7.jpg" alt="product" class="img img-responsive">
                        <div class="product_hover text-center">
                            <h6 class="color_ff mb_10">$120.95</h6>
                            <div class="divider"></div>
                            <p class="color_ff mt_10 mb_15">Blemish + Age Defense</p>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>

                    <!--product-4-->
                    <div class="single_carousel">
                        <img src="images/product1.jpg" alt="product" class="img img-responsive">
                        <div class="product_hover text-center">
                            <h6 class="color_ff mb_10">$180.95</h6>
                            <div class="divider"></div>
                            <p class="color_ff mt_10 mb_15">Retexturing Activator</p>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>

                    <!--product-5-->
                    <div class="single_carousel">
                        <img src="images/product3.jpg" alt="product" class="img img-responsive">
                        <div class="product_hover text-center">
                            <h6 class="color_ff mb_10">$100.95</h6>
                            <div class="divider"></div>
                            <p class="color_ff mt_10 mb_15">Herbal Cleanser 4 oz.</p>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>

                    <!--product-6-->
                    <div class="single_carousel">
                        <img src="images/product4.jpg" alt="product" class="img img-responsive">
                        <div class="product_hover text-center">
                            <h6 class="color_ff mb_10">$120.95</h6>
                            <div class="divider"></div>
                            <p class="color_ff mt_10 mb_15">Blemish + Age Defense</p>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>

                    <!--product-7-->
                    <div class="single_carousel">
                        <img src="images/product5.jpg" alt="product" class="img img-responsive">
                        <div class="product_hover text-center">
                            <h6 class="color_ff mb_10">$180.95</h6>
                            <div class="divider"></div>
                            <p class="color_ff mt_10 mb_15">Retexturing Activator</p>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                    <!--/carousel-->
                </div>
            </div>
        </div>
        <!--/row-->
    </div>
</section>
<!-- =======================================
        ==End Product Carousel section==
    =======================================-->

<!-- =======================================
        ==Start price list section==
=======================================-->

<!-- =======================================
        ==End price list section==
=======================================-->

<!-- =======================================
        ==Start Testimonial section==
=======================================-->
<section class="testimonial_section ptb_90">
    <div class="testimonial_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <div class="section_title pb_60 text-center">
                    <h3 class="color_ff fw_500 pb_10">Testimonials</h3>
                </div>

                <div class="testimoial_wrapper owl-carousel">
                    <!--testimonial-1-->
                    <div class="single_testimonial text-center">
                        <a href="#"><img src="images/author3.jpg" alt="author"></a>
                        <p class="testimoinal_txt color_ff pt_25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                        <div class="author color_ff"><a href="#">Thomas Jefferson</a><span>CEO of TF</span></div>
                    </div>

                    <!--testimonial-2-->
                    <div class="single_testimonial text-center">
                        <a href="#"><img src="images/author1.jpg" alt="author"></a>
                        <p class="testimoinal_txt color_ff pt_25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                        <div class="author color_ff"><a href="#">Thomas Jefferson</a><span>CEO of TF</span></div>
                    </div>

                    <!--testimonial-3-->
                    <div class="single_testimonial text-center">
                        <a href="#"><img src="images/author2.jpg" alt="author"></a>
                        <p class="testimoinal_txt color_ff pt_25">I just wanted to thank you for providing a great celebration party for me. Your staff did an excellent job and the Makeup was superb. Everyone was impressed.Thanks again!</p>
                        <div class="author color_ff"><a href="#">Thomas Jefferson</a><span>CEO of TF</span></div>
                    </div>
                    <!--/testimonial-->
                </div>
                <!--/testimoial wrapper-->
            </div>
            <!--/col-->
        </div>
    </div>
</section>
<!-- =======================================
        ==End Testimonial section==
=======================================-->

<%- include partials/blog-section %>

<%- include partials/footer %>
