<%- include partials/header %>
    <!-- =======================================
        ==Start banner section==
    =======================================-->
    <section class="banner_section shop_banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h4 class="fw_500 color_ff">Product Details</h4>
                        <p class="color_ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">product details</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End banner section==
    =======================================-->

    <!-- =======================================
        ==Start Product gallery section==
    =======================================-->
    <section class="with_sidebar product_details_section ptb_90 pt_sm_70 pb_sm_50 ptb_xs_50 ptb_xxs_50">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    <div class="product_details_wrapper">
                        <div class="product_preview_area">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="p1">
                                    <img src="images/product2.jpg" alt="product-img" class="img img-responsive">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="p2">
                                    <img src="images/product2.1.jpg" alt="product-img" class="img img-responsive">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="p3">
                                    <img src="images/product2.2.jpg" alt="product-img" class="img img-responsive">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="p4">
                                    <img src="images/product2.3.jpg" alt="product-img" class="img img-responsive">
                                </div>
                            </div>

                            <!-- Nav tabs -->
                            <ul class="clearfix mt_5" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#p1" role="tab" data-toggle="tab">
                                        <img src="images/product2.jpg" alt="product-img" class="img img-responsive">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#p2" role="tab" data-toggle="tab">
                                        <img src="images/product2.1.jpg" alt="product-img" class="img img-responsive">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#p3" role="tab" data-toggle="tab">
                                        <img src="images/product2.2.jpg" alt="product-img" class="img img-responsive">
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#p4" role="tab" data-toggle="tab">
                                        <img src="images/product2.3.jpg" alt="product-img" class="img img-responsive">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--/product preview area-->

                        <!--product details content-->
                        <div class="product_details_content">
                            <h6 class="procuct_title color_d5 fw_700 text-uppercase">Setria® L-Glutathione</h6>
                            <ul class="rating mt_5">
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                            </ul>
                            <h4 class="price fw_700 color_72 pt_25 pb_5">$85.00</h4>
                            <p class="details_txt color_51 mb_40">Gluta is an anti-oxidant that cleans the liver, takes off free-radicals and helps the brain too (did u know that our brain's anti-oxidant is gluta and that low level of it results</p>
                            <ul class="add_cart_area pb_35">
                                <li class="qty">
                                    <span class="text-uppercase color_51 fw_500 roboto mr_10">quantity :</span>
                                    <i class="fa fa-angle-left"></i>
                                    <input type="text" name="qty" value="2">
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    <a href="#" class="addtocart color_ff text-uppercase">Add to Cart</a>
                                </li>
                                <li>
                                    <a href="#" class="favourit"><i class="fa fa-heart-o"></i></a>
                                </li>
                            </ul>

                            <div class="product_type ptb_20">
                                <table>
                                    <tr>
                                        <td>Category :</td>
                                        <td class="color_72">HP21 Drug Store</td>
                                    </tr>
                                    <tr>
                                        <td>Tags :</td>
                                        <td class="color_72"><a href="#" class="color_72">Drag,</a> <a href="#" class="color_72">Medicine</a></td>
                                    </tr>
                                    <tr>
                                        <td>Product ID :</td>
                                        <td>nh028</td>
                                    </tr>
                                </table>
                            </div>

                            <div class="share_icons pt_30">
                                <ul>
                                    <li class="text-uppercase color_d5 mr_10">Share This :</li>
                                    <li><a href="#" title="" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title="" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#" title="" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" title="" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#" title="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/product details content-->
                    </div>
                    <!--/wrapper-->

                    <div class="product_review_tab mt_45">
                        <!-- Nav tabs -->
                        <ul class="clearfix mt_5" role="tablist">
                            <li role="presentation" class="active"><a href="#desription" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#review" role="tab" data-toggle="tab">Reviews <span>(3)</span></a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="desription">
                                <h6 class="fw_700 color_d5 text-uppercase pb_5">Product Description</h6>
                                <p>If you only take one antioxidant, make it glutathione. This powerful tripeptide is the body's master antioxidant and detoxifier. Present within every cell, glutathione is your body's primary defense molecule. Natural production within the body declines darkrnessshi with age</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="review">
                                <h6 class="fw_700 color_d5 text-uppercase pb_5">Product review</h6>
                                <p>If you only take one antioxidant, make it glutathione. This powerful tripeptide is the body's master antioxidant and detoxifier. Present within every cell, glutathione is your body's primary defense molecule. Natural production within the body declines darkrnessshi with age</p>
                            </div>
                        </div>
                    </div>
                    <!--/product review tab-->

                    <div class="related_product_area product_gallery mt_50">
                        <h6 class="text-uppercase color_d5 fw_500">you may also like this products</h6>
                        <div class="product_gallery_wrapper clearfix" id="product_gallery_v2">
                            <!-- product-1 -->
                            <div class="single_product text-center pos_relative">
                                <div class="product_img pos_relative">
                                    <img src="images/product8.jpg" alt="product" class="img img-responsive">
                                    <div class="product_hover">
                                        <ul>
                                            <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                            <li><a href="images/product8.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Retexturing Activator">View Product</a></li>
                                            <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_price">
                                    <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                    <h6 class="color_72 fw_500">$180.95</h6>
                                    <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                    <div class="product_divider"></div>
                                    <a href="#" class="roboto fw_500">Retexturing Activator</a>
                                </div>
                            </div>

                            <!-- product-2 -->
                            <div class="single_product text-center pos_relative">
                                <div class="product_img pos_relative">
                                    <img src="images/product9.jpg" alt="product" class="img img-responsive">
                                    <div class="product_hover">
                                        <ul>
                                            <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                            <li><a href="images/product9.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Citrus Herbal Cleanser 2oz.">View Product</a></li>
                                            <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_price">
                                    <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                    <h6 class="color_72 fw_500">$70.95</h6>
                                    <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                    <div class="product_divider"></div>
                                    <a href="#" class="roboto fw_500" title="View Details">Citrus Herbal Cleanser 2oz.</a>
                                </div>
                            </div>

                            <!-- product-3 -->
                            <div class="single_product text-center pos_relative">
                                <div class="product_img pos_relative">
                                    <img src="images/product10.jpg" alt="product" class="img img-responsive">
                                    <div class="product_hover">
                                        <ul>
                                            <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                            <li><a href="images/product10.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Citrus Herbal Cleanser 2oz.">View Product</a></li>
                                            <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product_price">
                                    <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                    <h6 class="color_72 fw_500">$120</h6>
                                    <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                    <div class="product_divider"></div>
                                    <a href="#" class="roboto fw_500" title="View Details">Citrus Herbal Cleanser</a>
                                </div>
                            </div>
                        </div>
                        <!--/wrapper-->
                    </div>
                    <!--/related_product_area-->
                </div>
                <!--/col-md-9-->

                <div class="col-md-3 col-md-pull-9">
                    <aside class="sidebar clearfix mt_sm_60 mt_xs_60 mt_xxs_20">
                        <div class="single_block categorie">
                            <h6 class="text-uppercase fw_700 color_ff">Categories</h6>
                            <div class="panel-group" id="accordion">
                                <!--panel-1-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Medical Equipment <span>(18)</span></a>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Medical Equipment-1</a></li>
                                                <li><a href="#">Medical Equipment-2</a></li>
                                                <li><a href="#">Medical Equipment-3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-2-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Drug Stores <span>(8)</span></a>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Drug Stores-1</a></li>
                                                <li><a href="#">Drug Stores-2</a></li>
                                                <li><a href="#">Drug Stores-3</a></li>
                                                <li><a href="#">Drug Stores-4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-3-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Multi Vitamin <span>(15)</span></a>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Multi Vitamin-1</a></li>
                                                <li><a href="#">Multi Vitamin-2</a></li>
                                                <li><a href="#">Multi Vitamin-3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-4-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Health & Beauty Care  <span>(10)</span></a>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Health & Beauty Care-1</a></li>
                                                <li><a href="#">Health & Beauty Care-2</a></li>
                                                <li><a href="#">Health & Beauty Care-3</a></li>
                                                <li><a href="#">Health & Beauty Care-4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-5-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Baby Care <span>(12)</span></a>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Baby Care-1</a></li>
                                                <li><a href="#">Baby Care-2</a></li>
                                                <li><a href="#">Baby Care-3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-6-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Blood Pressure <span>(09)</span></a>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Blood Pressure-1</a></li>
                                                <li><a href="#">Blood Pressure-2</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-7-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Diabetic Products <span>(32)</span></a>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Diabetic Products-1</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-8-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Food Supplements <span>(23)</span></a>
                                    <div id="collapseEight" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Food Supplements-1</a></li>
                                                <li><a href="#">Food Supplements-2</a></li>
                                                <li><a href="#">Food Supplements-3</a></li>
                                                <li><a href="#">Food Supplements-4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-9-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Fitness Equipment <span>(08)</span></a>
                                    <div id="collapseNine" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Fitness Equipment-1</a></li>
                                                <li><a href="#">Fitness Equipment-2</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/panel-->
                            </div>
                            <!--/accordion-->
                        </div>
                        <!--/categorie-->

                        <div class="single_block special_offer pos_relative">
                            <img src="images/offer.jpg" alt="offer product" class="img img-responsive">
                            <div class="offer_text text-center">
                                <p>Exclusive<span class="fw_700 roboto text-uppercase">Discounts & Offers</span>Especially For You</p>
                                <a href="#" title="Shop Now">Shop Now</a>
                            </div>
                        </div>
                        <!--/special offer-->

                        <div class="single_block tag">
                            <h6 class="text-uppercase fw_700 color_ff">tag</h6>
                            <ul class="pt_15">
                                <li><a href="#">Fitness</a></li>
                                <li><a href="#">Medical equipment</a></li>
                                <li><a href="#">Women's Health</a></li>
                                <li><a href="#">Anti-allergy</a></li>
                                <li><a href="#">Herbal</a></li>
                                <li><a href="#">weight gain</a></li>
                                <li><a href="#">care</a></li>
                            </ul>
                        </div>
                        <!--/tags-->
                    </aside>
                </div>
                <!--/col-md-3 and /sidebar-->
            </div>
            <!--/row-->
        </div>
    </section>
    <!-- =======================================
        ==End Product gallery section==
    =======================================-->

    <%- include partials/blog-section %>

    <%- include partials/footer %>
