<%- include partials/header %>
    <!-- =======================================
        ==Start banner section==
    =======================================-->
    <section class="banner_section shop_banner">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner_content">
                        <h4 class="fw_500 color_ff">Buy What You Like</h4>
                        <p class="color_ff">Welcome to beauty lab, where you can relax and enjoy life.</p>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Shop</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- =======================================
        ==End banner section==
    =======================================-->

    <!-- =======================================
        ==Start Product gallery section==
    =======================================-->
    <section class="product_gallery with_sidebar ptb_90 pt_sm_70 pb_sm_50 ptb_xs_50 ptb_xxs_50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section_title pb_60 pb_xs_100 pb_xxs_100 text-center">
                        <h3 class="color_72 fw_500 pb_10">Products</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et.</p>
                    </div>
                </div>
            </div>
            <!--/row-->

            <div class="row">

                <div class="col-md-9 col-md-push-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="filtering_area pb_30">
                                <div class="view_formate">
                                    <ul>
                                        <li class="active" id="grid_view"><i class="fa fa-th"></i></li>
                                        <li id="list_view"><i class="fa fa-th-list"></i></li>
                                    </ul>
                                </div>

                                <div class="search_product">
                                    <form action="#" class="form-inline">
                                        <select class="form-control wide" name="beauty-service" required>
                                            <option selected>Category</option>
                                            <option value="facial">Facials</option>
                                            <option value="nailCare">Nail Care</option>
                                            <option value="eyeCare">Eye Care</option>
                                            <option value="waxing">Waxing</option>
                                            <option value="makeup">Make-Up</option>
                                        </select>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Search here">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </div>

                                <div class="favouritCart">
                                    <ul>
                                        <li><i class="fa fa-heart-o"></i></li>
                                        <li class="pos_relative"><i class="fa fa-cart-plus"></i><span>5</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!--/filtering wrapper-->
                        </div>
                    </div>
                    <!--/row-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="product_gallery_wrapper clearfix" id="product_gallery_v2">
                                <!-- product-1 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product8.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product8.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Retexturing Activator">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$180.95</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="/product" class="roboto fw_500">Retexturing Activator</a>
                                    </div>
                                </div>

                                <!-- product-2 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product9.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product9.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Citrus Herbal Cleanser 2oz.">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$70.95</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Citrus Herbal Cleanser 2oz.</a>
                                    </div>
                                </div>

                                <!-- product-3 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product10.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product10.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Citrus Herbal Cleanser 2oz.">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$120</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Citrus Herbal Cleanser</a>
                                    </div>
                                </div>

                                <!-- product-4 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product11.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product11.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Retexturing Activator">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$80</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Retexturing Activator</a>
                                    </div>
                                </div>

                                <!-- product-5 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product12.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product12.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Eye Alive Serum .5oz.">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$20.5</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Eye Alive Serum .5oz.</a>
                                    </div>
                                </div>

                                <!-- product-6 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product13.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product13.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Aox+ Eye Gel">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$380</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Aox+ Eye Gel</a>
                                    </div>
                                </div>

                                <!-- product-7 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product14.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product14.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Cxc Vitamin C Complex">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$100</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Cxc Vitamin C Complex</a>
                                    </div>
                                </div>

                                <!-- product-8 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product15.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product15.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="A.g.e. Eye Complex">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$10.95</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">A.g.e. Eye Complex</a>
                                    </div>
                                </div>

                                <!-- product-9 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product16.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product16.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Retexturing Activator">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$380</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Retexturing Activator</a>
                                    </div>
                                </div>

                                <!-- product-10 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product1.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product1.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Retexturing Activator">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <h6 class="color_72 fw_500">$180.95</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Retexturing Activator</a>
                                    </div>
                                </div>

                                <!-- product-11 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product2.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product2.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="Citrus Herbal Cleanser 2oz.">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$18.95</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">Citrus Herbal Cleanser 2oz.</a>
                                    </div>
                                </div>

                                <!-- product-12 -->
                                <div class="single_product text-center pos_relative">
                                    <div class="product_img pos_relative">
                                        <img src="images/product3.jpg" alt="product" class="img img-responsive">
                                        <div class="product_hover">
                                            <ul>
                                                <li><a href="#" title="Add to Cart"><i class="fa fa-cart-plus"></i></a></li>
                                                <li><a href="images/product3.jpg" class="color_ff text-capitalize roboto venobox" data-gall="gallery1" title="C E Ferulic">View Product</a></li>
                                                <li><a href="#" title="Add to Favourite"><i class="fa fa-heart-o"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product_price">
                                        <a href="#" class="readmore fw_500 color_51 roboto" title="Read Details">read more</a>
                                        <h6 class="color_72 fw_500">$195</h6>
                                        <p class="short_discription">Lorem ipsum dolor sit amet, duo ut utroque praesent signiferumque, aperiam interesset reformidans pro in, te primis quaerendum eam. Per ad labore oportere repudiare, mei ad officiis referrentur.</p>
                                        <div class="product_divider"></div>
                                        <a href="#" class="roboto fw_500" title="View Details">C E Ferulic</a>
                                    </div>
                                </div>
                            </div>
                            <!--/wrapper-->
                        </div>
                        <!--/col-->
                    </div>
                    <!--/row-->

                    <!--pagination-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom_pagination">
                                <nav aria-label="...">
                                    <ul class="pagination pt_20">
                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#" aria-label="Next"><span aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--/pagination-->
                    </div>
                </div>
                <!--/col-md-9-->

                <div class="col-md-3 col-md-pull-9">
                    <aside class="sidebar clearfix mt_sm_60 mt_xs_60 mt_xxs_60">
                        <div class="single_block categorie">
                            <h6 class="text-uppercase fw_700 color_ff">Categories</h6>
                            <div class="panel-group" id="accordion">
                                <!--panel-1-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Medical Equipment <span>(18)</span></a>
                                    <div id="collapseOne" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Medical Equipment-1</a></li>
                                                <li><a href="#">Medical Equipment-2</a></li>
                                                <li><a href="#">Medical Equipment-3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-2-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Drug Stores <span>(8)</span></a>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Drug Stores-1</a></li>
                                                <li><a href="#">Drug Stores-2</a></li>
                                                <li><a href="#">Drug Stores-3</a></li>
                                                <li><a href="#">Drug Stores-4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-3-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Multi Vitamin <span>(15)</span></a>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Multi Vitamin-1</a></li>
                                                <li><a href="#">Multi Vitamin-2</a></li>
                                                <li><a href="#">Multi Vitamin-3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-4-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Health & Beauty Care  <span>(10)</span></a>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Health & Beauty Care-1</a></li>
                                                <li><a href="#">Health & Beauty Care-2</a></li>
                                                <li><a href="#">Health & Beauty Care-3</a></li>
                                                <li><a href="#">Health & Beauty Care-4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-5-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Baby Care <span>(12)</span></a>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Baby Care-1</a></li>
                                                <li><a href="#">Baby Care-2</a></li>
                                                <li><a href="#">Baby Care-3</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-6-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Blood Pressure <span>(09)</span></a>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Blood Pressure-1</a></li>
                                                <li><a href="#">Blood Pressure-2</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-7-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Diabetic Products <span>(32)</span></a>
                                    <div id="collapseSeven" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Diabetic Products-1</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-8-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Food Supplements <span>(23)</span></a>
                                    <div id="collapseEight" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Food Supplements-1</a></li>
                                                <li><a href="#">Food Supplements-2</a></li>
                                                <li><a href="#">Food Supplements-3</a></li>
                                                <li><a href="#">Food Supplements-4</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--panel-9-->
                                <div class="panel">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">Fitness Equipment <span>(08)</span></a>
                                    <div id="collapseNine" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ul>
                                                <li><a href="#">Fitness Equipment-1</a></li>
                                                <li><a href="#">Fitness Equipment-2</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--/panel-->
                            </div>
                            <!--/accordion-->
                        </div>
                        <!--/categorie-->

                        <div class="single_block price">
                            <h6 class="text-uppercase fw_700 color_ff">price</h6>
                            <div class="layout-slider mt_40">
                                <span>
								    <input id="price_filter" type="slider" name="price" value="100.5;10000" />
								</span>
                            </div>
                        </div>
                        <!--/price filter-->

                        <div class="single_block special_offer pos_relative">
                            <img src="images/offer.jpg" alt="offer product" class="img img-responsive">
                            <div class="offer_text text-center">
                                <p>Exclusive<span class="fw_700 roboto text-uppercase">Discounts & Offers</span>Especially For You</p>
                                <a href="#" title="Shop Now">Shop Now</a>
                            </div>
                        </div>
                        <!--/special offer-->

                        <div class="single_block tag">
                            <h6 class="text-uppercase fw_700 color_ff">tag</h6>
                            <ul class="pt_15">
                                <li><a href="#">Fitness</a></li>
                                <li><a href="#">Medical equipment</a></li>
                                <li><a href="#">Women's Health</a></li>
                                <li><a href="#">Anti-allergy</a></li>
                                <li><a href="#">Herbal</a></li>
                                <li><a href="#">weight gain</a></li>
                                <li><a href="#">care</a></li>
                            </ul>
                        </div>
                        <!--/tags-->
                    </aside>
                </div>
                <!--/col-md-3 and /sidebar-->

            </div>
            <!--/row-->
        </div>
    </section>
    <!-- =======================================
        ==End Product gallery section==
    =======================================-->

    <%- include partials/blog-section %>

    <%- include partials/footer %>
